<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Photo</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let city of cities">
        <td>{{ city.id }}</td>
        <td>{{ city.name }}</td>
        <td><img alt="photoUrl" src="{{city.photoUrl}}"/></td>
        <td><a [routerLink]="['/edit-city', city.id]">Edit</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
