<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #cityForm="ngForm">
      <div class="form-group">
        <label for="cityId">Id</label>
        <input type="text" [(ngModel)]="city.id"
               class="form-control"
               id="cityId"
               name="cityId"
               placeholder="City Id"
               required #cityId="ngModel"
               readonly="readonly">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="city.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="City name"
               required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="photoUrl">PhotoUrl</label>
        <input type="text" [(ngModel)]="city.photoUrl"
               class="form-control"
               id="photoUrl"
               name="photoUrl"
               placeholder="Enter photo Url"
               required #photoUrl="ngModel">
      </div>
      <button type="submit" [disabled]="!cityForm.form.valid"
              class="btn btn-info">Submit
      </button>
    </form>
  </div>
</div>
